body {
    background-color: #ecf0f5;
}

#main-header {
    height: 50px;
    margin-right: 0px;
    margin-left: 0px;
    min-width: 100%;
}
#main-header-left {
    background-color: #3c8dbc;
    height: 50px;
    border-bottom: 0 solid transparent;
}

#main-header-left h3{
    font-weight:bold;
    color: #ffffff;
    text-align: center;
    line-height: 150%;
}

#main-header-right {
    background-color: #3f96c6;
    height: 50px;
}

#logout {
    height: 50px;
    margin-bottom: 0px;
    color: white;
    text-decoration: none;
}

#side-bar {
    background-color: #222d32;
    min-height: 100%;
}

#user-panel {
    padding: 15px;
}

.separator {
    height: 40px;
    background-color: #1a2226;
}
#user-name {
    color: #fff;
}

#main-navigation {
    margin-left: 0px;
}

#main-navigation a {
    text-decoration:none;
    color:#b8c7ce;
}

#main-navigation > li > a {
    border-left: 3px solid transparent;
}

#main-navigation > li:hover > a,
#main-navigation> li.active > a ,
#main-navigation .nav-link.active {
    color: #ffffff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}

#side-bar {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    z-index: 810;
}

.main-content {
    float:right;
    background-color: #ecf0f5;
}

#main-area {
    margin-right: 0px;
    min-width: 100%;
}

#footer {
    background-color: white;
    border-top:1px solid #d2d6de;
    width:75%;
    left:inherit;
}

/* Browse/manage properties page */
.content {
    padding-left: 30px;
}

.property-row.active {
    background-color: rgba(0,0,0,.075);
}

#hidden {
    display: none;
}

.search-add-row {
    padding-top: 20px;
    padding-bottom: 30px;
}

#properties-table, #edit-properties-table {
    max-height: 600px;
    overflow-y: auto;
    margin-bottom: 20px;
}

#searchInput {
    width: 400px;
}

/* Add Property Page */

#prop-form {
    width:95%;
    padding-left:25px;
}

.content-row {
    margin-bottom: 130px;
}

/* Upload Images page */
#create-success {
    margin-top: 50px;
    margin-bottom: 100px;
}

#image-upload-row {
    padding-bottom: 70px;
}

#images-heading {
    padding-left:30px;
}

#images {
    height: 200px;
}

#image-upload {
    -webkit-box-shadow: 0px 0px 5px 0.2px rgba(173,173,173,1);
    -moz-box-shadow: 0px 0px 5px 0.2px rgba(173,173,173,1);
    box-shadow: 0px 0px 5px 0.2px rgba(173,173,173,1);

    margin-left:40px;
    padding-bottom: 10px;
}

#property-image {
    padding-top: 15px;
    padding-right: 10px;
    max-width: 300px;
    max-height: 160px;
}

.delete-img-button {
    position: absolute;
    top: 20px;
    left:20px;
    height:44px;
}

#delete-img {
    height: 28px;
}

#image-div {
    position: relative;
}

/* Multiple Property Edit */

#edit-properties-table {
    padding: 0 40px 40px 40px;
}

#input-error {
    visibility: hidden;
}

#update-success-div {
    min-height: 75px;
}